@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}
body {
  background-color: #fdfdfe;
}

a {
  text-decoration: none;
}
.makeStyles-loginBtn-87:hover,
.makeStyles-loginBtn-87:active {
  background-color: #1b1f23 !important;
}


.error{
  padding: 10px 15px;
  background: rgb(139, 85, 85);
  color: #fff;
  margin: 20px 10px;
  font-size: 17px;
  text-align: center;
  border-radius: 10px;
}

.confirm{
  padding: 10px 15px;
  background: rgb(165, 233, 126);
  color: #fff;
  margin: 20px 10px;
  font-size: 17px;
  text-align: center;
  border-radius: 10px;
}